body {
    background-color: #f0f8ff;
    font-family:sans-serif;
}
.login-container {
    max-width: 450px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.login-header img {
    width: 80px;
}
.login-header {
    text-align: center;
    margin-bottom: 20px;
}
.login-header h2 {
    margin: 0;
}
.login-header p {
    margin: 5px 0;
}
.login-footer {
    text-align: center;
    margin-top: 20px;
}
.login-footer p {
    font-size: 12px;
    color: #888;
}

